*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body{
	height: 100vh;
	width: 100%;
	background-color: #D8C9D8;
	font-size: 1em;
	font-family: 'Sen', sans-serif;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

input{
	border-radius: 5px;
	border: 2px solid #260026;
	outline: none;
	background-color: #D8C9D8;
}


/*Header*/
nav{
	padding: 10px 0 10px 10px;
	margin-bottom: 10px;
	background-color: #5A0084FF;
}

.nav-header{
	color: white;
}

/*mainPanel*/
.mainPanel,
.addPanel {
	height: auto;
	width: 70%;
	margin: 0 auto;
	padding: 40px 10px;
	border-radius: 10px;
	border: 3px solid #800080;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper{
	margin-bottom: 20px;
}

.mainPanel input,
.addPanel textarea {
	margin-left: 10px;
	width: 50px;
	padding: 3px 5px ;
	border-radius: 5px;
	border: 2px solid #260026;
	outline: none;
	background-color: #D8C9D8;
}

.createPoll,
.addAnswer,
.createQuestion {
	padding: 10px 30px;
	border: 2px solid #260026;
	border-radius: 5px;
	background-color: 	#3b3b71;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.createPoll:hover{
	transform: scale(1.01);
	box-shadow: 1px 1px 10px rgba(0,0,0,.4)
}

/*Add panel*/

.hidden{
	display: none;
}
.addPanel{
	width: 40%;
	padding: 20px 10px;
	/*margin-top: 20px;*/
	align-items: flex-start;
}

.addPanel h3{
	align-self: center;
	margin-bottom: 20px;
}

label[for^="question"]{
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
}

form,
.addPanel textarea {
	width: 100%;
}

form{
	margin-bottom: 20px;
}
.addPanel textarea {
	padding: 5px;
	margin-left:0;
	resize: none;
	overflow: hidden;
}

.addPanel textarea span,
.addPanel textarea p,
.addPanel textarea b{
	background-color: #D8C9D8 !important;
}

.addPanel p {
	font-size: 18px;
}

.addAnswer,
.createQuestion{
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 15px 0 0;
	text-transform: uppercase;
	align-self: flex-start;
	cursor: pointer;

}
.addPanel .fieldAnswer{
	width: 100%;
}
.addPanel input {
	width: 60%;
	margin-top: 10px;
	padding: 3px 5px;
}

.createQuestion{
	padding: 15px ;
	align-self: center;
}

/*Preview panel*/
.previewPanel{
	width: 60%;
	border: 3px solid #800080;
	border-radius: 10px;
	margin-left: 5px; 
	padding: 20px 10px;
}

.previewPanel h3{
	text-align: center;
	margin-bottom: 20px;
}
 .card{
	width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
	border-bottom: 1px solid #800080;
	padding: 10px;
	font-size: 20px;
	color: #00002CFF;
	text-align: justify;
}

 .card .wrapper-qst{
	margin-bottom: 30px;
}

 .card .wrapper-qst span{
	margin-right: 20px;
}

 .card  p {
	display: inline-block;
	width: 100%;
    word-wrap: break-word;
}

.wrapper-answ{
	display: flex;
	margin-bottom: 15px;
}